<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/static/base.css">
  <link rel="stylesheet" href="/static/chat.css">
  <link href="/static/bar.css" rel="stylesheet">
  <title>GuruCool.com</title>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><i class="fa fa-book" aria-hidden="true"></i> GuruCool </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/"><i class="fa fa-home"></i> Home </a></li>

	<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Student's Corner <span class="caret"></span></a>
	<ul class="dropdown-menu">
            	<li class="dropdown-submenu">

	                <a tabindex="-1" href="#"> Programmes <span class="caret"></span></a>

	                <ul class="dropdown-menu">

	                  <li><a tabindex="-1" href="/it"> Information & Technology </a></li>

	                  <li><a href="/bank"> Banking </a></li>

	                  <li><a href="/math"> Mathematics </a></li>

	                </ul>

	        </li>
		<li><a href="/admission"> Admission </a></li>
		<li><a href="/new"> New Batches </a></li>
		<li><a id="ddiscuss" href="/doubt"> Doubt Session </a></li>
        </ul>
	</li>
	<li><a href="/success"> Success Stories </a></li>
	<li>
	<form action="" class="search-form">
       	<div class="form-group has-feedback">


       	<label for="search" class="sr-only">Search</label>

       	<input type="text" class="form-control" name="search" id="search" placeholder="search">

       	<span class="glyphicon glyphicon-search form-control-feedback"></span>
	</div>
</form>
	</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user-circle" aria-hidden="true"></i> <span class="caret"></span></a>
        <ul class="dropdown-menu">
	    <li><a data-toggle="modal" data-target="#myModal1" style="cursor:pointer;" id="one"><i class="fa fa-sign-in" aria-hidden="true"></i> Register </a></li>
        <li><a data-toggle="modal" data-target="#myModal2" style="cursor:pointer;" id="two"><i class="fa fa-user-o" aria-hidden="true"></i> LogIn </a></li>
        <li><a href="login" id="three"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{user}} </a></li>
        <li><a href="logout" id="four"><i class="fa fa-sign-out" aria-hidden="true"></i> LogOut </a></li>
        <li><a data-toggle="modal" data-target="#myModal5" style="cursor:pointer;" id="five"><i class="fa fa-cog" aria-hidden="true"></i> Account Settings </a></li>
        </ul>
        </li>
	<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-life-ring" aria-hidden="true"></i> <span class="caret"></span></a>
	<ul class="dropdown-menu">
	    <li><a data-toggle="modal" data-target="#myModal4" style="cursor:pointer;"><i class="fa fa-info" aria-hidden="true"></i> FAQs </a></li>
            <li><a href="/contact"><i class="fa fa-phone"></i> Contact Us </a></li>
            <li><a data-toggle="modal" data-target="#myModal3" style="cursor:pointer;"><i class="fa fa-rss" aria-hidden="true"></i> Feedback </a></li>
        </ul>
	</li>
      </ul>
    </div></div>
</nav>
<div class="chat-box">
    <label><i class="fa fa-comment-o" aria-hidden="true"></i>Share Your Thoughts</label><input type="checkbox" />
    <div class="chat-box-content">
	    </br>
	    <div class="online"></div><a data-toggle="modal" data-target="#myModalchat" style="cursor:pointer;" href="/chat" > user1 </a></br></br>
	    <div class="online"></div><a data-toggle="modal" data-target="#myModalchat" style="cursor:pointer;" href="/chat" > user2 </a></br></br>
	    <div class="online"></div><a data-toggle="modal" data-target="#myModalchat" style="cursor:pointer;" href="/chat" > user3 </a></br></br>
	    <div class="online"></div><a data-toggle="modal" data-target="#myModalchat" style="cursor:pointer;" href="/chat" > user4 </a></br></br>
	    <div class="online"></div><a data-toggle="modal" data-target="#myModalchat" style="cursor:pointer;" href="/chat" > user5 </a></br></br>
	    <div class="online"></div><a data-toggle="modal" data-target="#myModalchat" style="cursor:pointer;" href="/chat" > user6 </a></br></br>
	    <div class="online"></div><a data-toggle="modal" data-target="#myModalchat" style="cursor:pointer;" href="/chat" > user7 </a></br></br>
    </div> 
</div>
{% block content %}
{% endblock %}
</br></br></br></br>

<nav class="navbar">
  <div class="container-fluid" style="color:grey;">
      <ul class="nav navbar-nav">
	<li><b>Connect Us</b></li></br>
	<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;
        <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>&nbsp;&nbsp;
	<a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>&nbsp;&nbsp;
	<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
	</br></br>
	<li><b>Quick Links</b></li>
	</br>
	<a href="/"><i class="fa fa-home"></i> Home </a> | <a href="/it">IT</a> | <a href="/bank"> Banking </a> | <a href="/math"> Maths </a> | <a href="/new"> New Batches </a> | <a href="/admission"> Admission </a>
	</br>
      </ul>
      <ul class="nav navbar-nav navbar-right">
	<li><b>Address/Contact</b></li></br>
	28 R.N Tagore Road, Nabapally, Swabhumi Apartment C Kolkata : 700063
	</br> Mobile : 08017111071
	</br></br>
	<li><b>Copyright@GuruCool.com</b></li>

 <!-- Histats.com  (div with counter) --><div id="histats_counter"></div>
<!-- Histats.com  START  (aync)-->
<script type="text/javascript">var _Hasync= _Hasync|| [];
_Hasync.push(['Histats.start', '1,3881966,4,511,95,18,00000000']);
_Hasync.push(['Histats.fasi', '1']);
_Hasync.push(['Histats.track_hits', '']);
(function() {
var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
hs.src = ('//s10.histats.com/js15_as.js');
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
})();</script>
<noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?3881966&101" alt="web stats" border="0"></a></noscript>
<!-- Histats.com  END  --> 

        </br>
	</ul>
  </div>
</nav>
</body>

{% include "modal.html" %}

<script>

$('#mf').change(function() {
  $('#up').submit();
});

$( document ).ready(function() {
  if($("#three").html().match(/Guest $/) )
  {
      $( "#four" ).hide();
      $( "#five" ).hide();
      $("#three").hide();
	$("#ddiscuss").hide();
  }
  else
  {
      $( "#one" ).hide();
      $( "#two" ).hide();
  }
});

$(document).ready(function() {
  $('li.active').removeClass('active');
  $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
});

$(function()
{
	$('li.dropdown-submenu').on('click', function(event)
		{
      event.stopPropagation();
      if ($(this).hasClass('open'))
			{
				$(this).removeClass('open');
			}
			else
			{
				$('li.dropdown-submenu').removeClass('open');
          $(this).addClass('open');
     }
		});
});

</script>
