<html>
<body>
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title"> GuruCool.com - Chat </h4>
    </div>
    <div class="modal-body" id="sl" style="max-height:80vh;overflow:auto;">
        <div id="msg-list-div">
                <ul id="msg-list" class="ChatLog">
                {% for obj in chat %}
                {% if obj.0 == user %}
                <li class="ChatLog__entry ChatLog__entry_mine"><p class="ChatLog__message">{{ obj.0 }} : {{ obj.1 }}</p></li>
                {% else %}
                <li class="ChatLog__entry"><p class="ChatLog__message">{{ obj.0 }} : {{ obj.1 }}</p></li>
                {% endif %}
                {% empty %}
                <li class="ChatLog__entry ChatLog__entry_mine"><p class="ChatLog__message">No messages yet!</p></li>
                {% endfor %}
            </ul>
        </div>
            <form id="chat-form" method="post" action="send">
            <textarea class="form-control" rows="3" id="chat-msg" name="chat-msg"></textarea>
            <input class="btn btn-default" id="send" type="submit"/>
            </form>
      </div>
<script src="/static/chat.js"></script>
<script>
$(document).ready(function(){
	$('#sl').scrollTop($('#sl')[0].scrollHeight); 
});
</script>
</body>
  </head>
