{% extends 'base.html' %}
{% block content %}
<style>

ul.ChatLog {
  list-style: none;
}
.ChatLog {width:80%;}
.ChatLog .ChatLog__entry {
  margin: .5em;
}

.ChatLog__entry {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 100%;
}

.ChatLog__entry.ChatLog__entry_mine {
  flex-direction: row-reverse;
}

.ChatLog__entry .ChatLog__message {
  position: relative;
  margin: 0 12px;
}

.ChatLog__entry .ChatLog__message::before {
  position: absolute;
  right: auto;
  bottom: .6em;
  left: -12px;
  height: 0;
  content: '';
  border: 6px solid transparent;
  border-right-color: #ddd;
  z-index: 2;
}

.ChatLog__entry.ChatLog__entry_mine .ChatLog__message::before {
  right: -12px;
  bottom: .6em;
  left: auto;
  border: 6px solid transparent;
  border-left-color: #08f;
}

.ChatLog__message {
  background-color: #ddd;
  padding: .5em;
  border-radius: 4px;
  font-weight: lighter;
  max-width: 70%;
}

.ChatLog__entry.ChatLog__entry_mine .ChatLog__message {
  border-top: 1px solid #07f;
  border-bottom: 1px solid #07f;
  background-color: #08f;
  color: #fff;
}

</style>
        <div class="col-sm-6">
        <div class="panel panel-default">
        <div class="panel-heading">Chat History</div>
        <div class="panel-body">
        <div id="msg-list-div">
                <ul id="msg-list" class="ChatLog">
                {% for obj in chat %}
                {% if obj.0 == user %}
                <li class="ChatLog__entry ChatLog__entry_mine"><p class="ChatLog__message">{{ obj.0 }} : {{ obj.1 }}</p></li>
                {% else %}
                <li class="ChatLog__entry"><p class="ChatLog__message">{{ obj.0 }} : {{ obj.1 }}</p></li>
                {% endif %}
                {% empty %}
                <li class="ChatLog__entry ChatLog__entry_mine"><p class="ChatLog__message">No messages yet!</p></li>
                {% endfor %}
                <script>
                    var chatlist = document.getElementById('msg-list-div');
                    chatlist.scrollTop = chatlist.scrollHeight;
                </script>
            </ul>
        </div>
            <form id="chat-form" method="post" action="send">
            <textarea class="form-control" rows="3" id="chat-msg" name="chat-msg"></textarea>
            <input class="btn btn-default" id="send" type="submit"/>
            </form>
      </div></div></div>

      <div class="col-sm-4">
        <div class="panel panel-default">
        <div class="panel-heading">Online</div>
        <div class="panel-body">
            list of online members
        </div></div></div>

{% endblock %}
