{% extends 'base.html' %}
{% block content %}
<text>
</br>
<p style="float:left;width:50%;">
<b>Address:</b> 28 R.N Tagore Road, Nabapally, Swabhumi Apartment C Kolkata-700063</br></br>
<b>Mobile:</b> 08017111071</br></br>
<b>Email:</b> meetranajoysaha@gmail.com</br></br>
</p>

<p style="float:left;width:50%;">
<form class="" method="post" action="#">
<label for="Message">Leave Your Message</label>
{% csrf_token %}
<div class="form-group">
<label for="user">Your Mobile Number</label>
<div class="input-group">
<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
<input type="text" class="form-control" name="user" id="user"  placeholder="Enter your User Name"/>
</div></div>
<div class="form-group">
<label for="comment">Message:</label>
<textarea class="form-control" rows="5" id="message"></textarea>
</div>
<button type="submit" class="btn btn-default">Submit</button>
</form>
</p>

</text>
<img src="/static/tele.jpg" style="width:100%;margin-top:-7%;"/>
</div>
{% endblock %}
