{% extends 'base.html' %}
{% block content %}
</br></br>

<h4 style="width:100%;margin:0;text-align:center;">Latest Discussions</h4></br></br>
<form method="post" action="doubt_discuss">
{% csrf_token %}
<ul>
{% for pp in doubt %}
<div class="sc">
<li><button type="submit" class="btn btn-link" name="idno" value="{{pp.0}}">{{pp.1}}</button></li>
</div>
{% endfor %}
</ul>
</form>

<h4 style="width:100%;margin:0;text-align:center;">Submit Your Doubts</h4></br></br>
<form method="post" action="doubt">
{% csrf_token %}
<div class="form-group">
  <textarea class="form-control" rows="5" name="doubt"></textarea>
  <button class="btn btn-default" type="submit">Submit</button>
</div>
</form>

</br></br></br>
{% endblock %}
