{% extends 'base.html' %}
{% block content %}
</br></br>
<h4 style="width:100%;margin:0;text-align:center;">Discuss your Doubts</h4></br></br>
<form method="post">
{% for pp in doubt_discuss %}
<div class="sc">
<img src="/static/user2.png" class="img-circle" style="width:80px;height:80px;top:-50px;left:-50px;position:relative;">
{{pp.0}}
<button type="submit" onclick='this.form.action="delete_discuss";' class="btn btn-link" name="del" value="{{pp.1}}:{{pp.2}}">
  <i class="fa fa-trash-o" aria-hidden="true"></i>
  </button>
</div>
{% endfor %}
</form>

<h4 style="width:100%;margin:0;text-align:center;">Provide Your Comments</h4></br></br>
<form method="post" action="doubt_discuss">
{% csrf_token %}
<div class="form-group">
  <input type="hidden" name="idno" value="{{idno}}"/>
  <textarea class="form-control" rows="8" name="discuss"></textarea>
  <button class="btn btn-default" type="submit">Submit</button>
</div>
</form>

</br></br></br>
{% endblock %}
