{% extends 'base.html' %}
{% block content %}
</br></br>

<h4>Discuss your Doubts</h4></br>
{% for pp in doubt_discuss %}
<div style="margin-left:10%;border-top:1px solid silver;width:80%;padding:2px;">
{{pp.0}}
<a href="discuss_delete?idno={{pp.1}}:{{pp.2}}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
</div></br></br>
{% endfor %}
</br></br>
<h4>Provide Your Comments</h4></br>
<form method="post" action="doubt_discuss?idno={{idno}}">
{% csrf_token %}
  <textarea style="margin-left:10%;width:80%" class="form-control" rows="8" name="discuss"></textarea></br>
  <button style="margin-left:10%;" class="btn btn-default" type="submit">Submit</button>
</form>

</br></br></br>
{% endblock %}
