{% extends 'base.html' %}
{% block content %}
</br></br>

<h4>Latest Discussions</h4></br>
{% for pp in doubt %}
<div style="border-top:1px solid silver;margin-left:10%;">
<a href="doubt_discuss?idno={{pp.0}}">{{pp.1}}</a>
{% if pp.2 == user %}
<a style="margin-left:10%;"  href="delete_discuss?idno={{pp.0}}:0"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
{% endif %}
{{pp.2}}
</div>
{% endfor %}
</br></br>
<h4>Submit Your Doubts</h4></br>
<form method="post" action="doubt">
{% csrf_token %}
  <textarea style="margin-left:10%;width:80%;" class="form-control" rows="5" name="doubt"></textarea></br>
  <button style="margin-left:10%;" class="btn btn-default" type="submit">Submit</button>
</form>

</br></br></br>
{% endblock %}
