{% extends 'base.html' %}
{% block content %}
</br></br>

<h4>Latest Discussions</h4>
<form method="post">
{% csrf_token %}
<ul style="list-style-type:none;margin-left:30%;">
{% for pp in doubt %}
<li>
<button type="submit" onclick='this.form.action="doubt_discuss";' class="btn btn-link" name="idno" value="{{pp.0}}">{{pp.1}}</button>
<button style="margin-left:20%;" type="submit" onclick='this.form.action="delete_discuss";' class="btn btn-link" name="del" value="{{pp.0}}:0">
  <i class="fa fa-trash-o" aria-hidden="true"></i>
  </button>
</li>
{% endfor %}
  </ul>
</form>

<h4>Submit Your Doubts</h4></br></br>
<p><form method="post" action="doubt">
{% csrf_token %}
  <textarea class="form-control" rows="5" name="doubt"></textarea>
  <button class="btn btn-default" type="submit">Submit</button>
</form></p>

</br></br></br>
{% endblock %}
