<div class="modal fade" id="myModal" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4><i class="fa fa-book" aria-hidden="true"></i> MasterJi.com - Admission Form</h4>
</div>
<div class="modal-body">
<form action="#">
        <p style="font-size:18px;margin:0px;"><b>Admission Form</b></p></br>
        <div class="form-group">
		<label for="user">Your User Name</label>
		<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
		<input type="text" class="form-control" name="user" id="user"  placeholder="Enter your User Name"/>
		</div></div>

        <div class="form-group">
        <label for="course">Program/Course:</label>
        <select class="form-control" id="course">
        <option>Information & Technology</option>
        <option>Mathematics</option>
        <option>Banking</option>
        </select>
        </div>

        <div class="form-group" style="float:left;">
        <label for="batch">Batch:</label>
		<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
        <select class="form-control" id="batch">
        <option>Jan-June</option>
        <option>July-Dec</option>
        </select>
        </div></div>

        <div class="form-group">
        <label for="comment">Comment/Requests:</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>

        <button type="submit" class="btn btn-block">Submit</button>
    </form>
</div></div></div></div>

<div class="modal fade" id="myModal1" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4><i class="fa fa-book" aria-hidden="true"></i> MasterJi.com - Registration</h4>
</div>
<div class="modal-body">
    <form class="" method="post" action="#">
		<div class="form-group">
		<label for="name" class="cols-sm-2 control-label">Your Name</label>
		<div class="cols-sm-10">
		<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
		<input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>
		</div></div></div>

        <div class="form-group">
		<label for="sex" class="cols-sm-2 control-label"><i class="fa fa-intersex" aria-hidden="true"></i>Gender</label>
		<div class="cols-sm-10">
		<div class="input-group">
		<div class="radio">
        <label><input type="radio" name="optradio">Male</label>
        <label><input type="radio" name="optradio">Female</label>
        </div>
		</div></div></div>

		<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">Your Email</label>
		<div class="cols-sm-10">
		<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
		<input type="email" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
		</div></div></div>

		<div class="form-group">
		<label for="phone" class="cols-sm-2 control-label">Phone Number</label>
		<div class="cols-sm-10">
		<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
		<input type="text" class="form-control" name="phone" id="name"  placeholder="Enter your Phone Number"/>
		</div></div></div>

		<div class="form-group">
		<label for="address" class="cols-sm-2 control-label">Your Address</label>
		<div class="cols-sm-10">
		<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-address-book" aria-hidden="true"></i></span>
		<input type="text" class="form-control" name="address" id="address"  placeholder="Enter your Address"/>
		</div></div></div>

		<div class="form-group">
		<label for="username" class="cols-sm-2 control-label">Username</label>
		<div class="cols-sm-10">
		<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
		<input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/>
		</div></div></div>

		<div class="form-group">
		<label for="password" class="cols-sm-2 control-label">Password</label>
		<div class="cols-sm-10">
		<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
		<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
		</div></div></div>

		<div class="form-group">
		<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
		<div class="cols-sm-10">
		<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
		<input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"/>
		</div></div></div>

		<div class="form-group">
		<label for="work" class="cols-sm-2 control-label">Occupation</label>
		<div class="cols-sm-10">
		<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
		<input type="text" class="form-control" name="work" id="name"  placeholder="Enter your Occupation"/>
		</div></div></div>

		<div class="form-group">
		<label for="org" class="cols-sm-2 control-label">Institute/Organization</label>
		<div class="cols-sm-10">
		<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-building-o" aria-hidden="true"></i> <i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
		<input type="text" class="form-control" name="org" id="org"  placeholder="Enter name of your Institute/Organization"/>
		</div></div></div>

		<div class="form-group">
		<label for="sd" class="cols-sm-2 control-label">Designation</label>
		<div class="cols-sm-10">
		<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-id-badge" aria-hidden="true"></i></span>
		<input type="text" class="form-control" name="sd" id="sd"  placeholder="Enter your Designation"/>
		</div></div></div>

		<div class="form-group">
		<label for="sk" class="cols-sm-2 control-label">Skills</label>
		<div class="cols-sm-10">
		<div class="input-group">
		<span class="input-group-addon"></span>
		<input type="text" class="form-control" name="sk" id="sk"  placeholder="Enter your Professional Skills"/>
		</div></div></div>

		<div class="form-group ">
		<a href="#" target="_blank" type="button" id="button" class="btn btn-default btn-block">Register</a>
		</div>

	</form>
</div></div></div></div>

<div class="modal fade" id="myModal2" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4><i class="fa fa-book" aria-hidden="true"></i> MasterJi.com - LogIn</h4>
</div>
<div class="modal-body">
    <form class="" method="post" action="login">
        {% csrf_token %}
		<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">Your Email/Username</label>
		<div class="cols-sm-10">
		<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i>  <i class="fa fa-envelope fa" aria-hidden="true"></i></span>
		<input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Email/Username"/>
		</div></div></div>

		<div class="form-group">
		<label for="password" class="cols-sm-2 control-label">Password</label>
		<div class="cols-sm-10">
		<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
		<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
		</div></div></div>

		<div class="form-group ">
		<button type="submit" class="btn btn-block">LogIn</button>
		</div>
	</form>
</div></div></div></div>

<div class="modal fade" id="myModal3" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4><i class="fa fa-book" aria-hidden="true"></i> MasterJi.com - Feedback</h4>
</div>
<div class="modal-body">
    <form class="" method="post" action="#">
        {% csrf_token %}
		<div class="form-group">
        <label for="comment">We would like to hear from you, please provide your valuable feedback below</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>

		<div class="form-group ">
		<button type="submit" class="btn btn-block">Submit Feedback</button>
		</div>
	</form>
</div></div></div></div>

<div class="modal fade" id="myModal4" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4><i class="fa fa-book" aria-hidden="true"></i> MasterJi.com - FAQs</h4>
</div>
<div class="modal-body">
<label for="FAQs">We would like to help you, please refer to the fact and query information below </label>
<li><a href="#">Terms and Conditions</a></li>
<li><a href="#">Product License</a></li>
<li><a href="#">Frequently asked questions</a></li>
</div>
</div></div></div></div>

<div class="modal fade" id="myModal5" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4><i class="fa fa-book" aria-hidden="true"></i> MasterJi.com - Settings</h4>
</div>
<div class="modal-body">
<label for="setings">To change the Password please enter the details below </label>
<form class="" method="post" action="#">
        <div class="form-group">
		<label for="cpassword" class="cols-sm-2 control-label">Current Password</label>
		<div class="cols-sm-10">
		<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
		<input type="password" class="form-control" name="cpassword" id="cpassword"  placeholder="Enter your Current Password"/>
		</div></div></div>

		<div class="form-group">
		<label for="npassword" class="cols-sm-2 control-label">New Password</label>
		<div class="cols-sm-10">
		<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
		<input type="password" class="form-control" name="npassword" id="npassword"  placeholder="Enter your New Password"/>
		</div></div></div>

		<div class="form-group">
		<label for="cfpassword" class="cols-sm-2 control-label">Confirm Password</label>
		<div class="cols-sm-10">
		<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
		<input type="password" class="form-control" name="cfpassword" id="cfpassword"  placeholder="Confirm New Password"/>
		</div></div></div>

		<div class="form-group ">
		<button type="submit" class="btn btn-block">Reset Password</button>
		</div>
<form>
</div></div></div></div>