{% extends 'base.html' %}
{% block content %}
</br></br>
<h4 style="width:100%;margin:0;text-align:center;">Our Success Stories</h4></br></br>
<div class="sc">
<img src="/static/user2.png" class="img-circle" style="width:80px;height:80px;top:-50px;left:-50px;position:relative;">
Hello my name is Ranajoy saha
</div>
</br></br></br>
<div class="sc">
<img src="/static/user.png" class="img-circle" style="width:80px;height:80px;top:-50px;left:-50px;position:relative;">
Hello my name is Ranajoy saha
</div>
</br></br></br>
<div class="sc">
<img src="/static/user2.png" class="img-circle" style="width:80px;height:80px;top:-50px;left:-50px;position:relative;">
Hello my name is Ranajoy saha
</div>
</br></br>
<img src="/static/success.jpg" style="width:100%;max-height:450px;opacity:0.9;"/>

{% endblock %}