.chat-box { 
  width:20%;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  position:fixed;
  right:10px;
  bottom:5px;
  color: white;
  z-index:9999;
  background: rgba(0, 0, 0, 0.2);
  border:none;
  -webkit-box-shadow:2px 2px 5px rgba(0,0,0,0.3);
  -moz-box-shadow:2px 2px 5px rgba(0,0,0,0.3);
  box-shadow:2px 2px 5px rgba(0,0,0,0.3);
}

.chat-box a {text-decoration:none;color:white;}

.chat-box > input[type="checkbox"] {
  position:absolute;
  top:0;
  width:100%;
  height:25px;
  z-index:4;
  cursor:pointer;
  opacity:0;
}

.chat-box > label {
  display:block;
  height:15px;
  background: rgba(0, 0, 0, 0.2);
  border:none;
  padding: 10px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  padding:8px;
}

.chat-box > label:before {content:attr(data-collapsed)}

.chat-box .chat-box-content {
  padding:10px;
  display:none;
}

.chat-box > input[type="checkbox"]:checked + label:before {content:attr(data-expanded);}
.chat-box > input[type="checkbox"]:checked ~ .chat-box-content {display:block;}
